{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section class="form-page wide">
  <div class="row-between">
    <h1>{% translate "My posts" %}</h1>
    <a href="{% url 'blog:post_create' %}" class="button">{% translate "Write" %}</a>
  </div>
  <table class="table">
    <thead><tr><th>{% translate "Title" %}</th><th>{% translate "Status" %}</th><th>{% translate "Updated" %}</th><th></th></tr></thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
        <td><span class="badge {% if post.is_published %}ok{% endif %}">{{ post.get_status_display }}</span></td>
        <td>{{ post.updated_at|date:"SHORT_DATE_FORMAT" }}</td>
        <td><a href="{% url 'blog:post_update' post.slug %}">{% translate "Edit" %}</a></td>
      </tr>
    {% empty %}
      <tr><td colspan="4" class="empty">{% translate "You have not written any posts yet." %}</td></tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
